{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <a class="btn btn-primary" role="button"
       href="{% url 'catalog:create' %}">Создать</a>
    {% for product in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                <h4 class="my-0 font-weight-normal">{{ product.category }}</h4>
                <h4 class="my-0 font-weight-normal">{{ product.description | truncatewords:50 }}</h4>
                <h4 class="my-0 font-weight-normal">{{ product.price }} р. за кг.</h4>
            </div>
            <img class="card-img-top" src="{{ product.photo | media_filter }}">
            <div class="card-body">
                <div class="card-body">
                    <a class="btn btn-primary" role="button"
                       href="{% url 'catalog:edit' product.pk %}">Редактировать</a>
                    <a class="btn btn-primary" role="button"
                       href="{% url 'catalog:delete' product.pk %}">Удалить</a>
                </div>
                <a class="btn btn-primary" role="button"
                   href="{% url 'catalog:product_detail' product.pk %}">Посмотреть</a>
            </div>
            <div class="card-footer">
                версии:
                номер версии:
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}